@model MVC5_Tatil_Sehayat.Models.Sınıflar.Yorumlar
@{
    ViewBag.Title = "YorumGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<h2>Yorum Getir Ve Güncelle</h2>
<br />
@using (Html.BeginForm("YorumGuncelle", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
        <br />
        <label>Mail</label>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        <br />
        <label>Yorum</label>
        @Html.TextAreaFor(x => x.Yorum, 15,1, new { @class = "form-control" })
     
        <br />
        @Html.HiddenFor(x => x.ID)

        <button class="btn btn-success" id="btn1">Güncelle</button>
        <script>
        $('#btn1').click(function () {
            alert("Yorum Güncellendi")
        })
        </script>
    </div>
}

